<h2>Submit a Card to market!</h2>
<hr class="second-header">
{{#if submittingUser}}
<p><b>Currently signed in as {{submittingUser.username}}</b></p>

<div class="container" style="width: 70%;">
  <div class="row text-center">

{{#each submittingUser.ownCards}}
<div class="col-md-3">
  <a href="/cards/{{id}}"><img class="inventory" style="width: 150px; height: 200px;" src="{{image}}" alt="{{name}} image"></a>
  <a href="/cards/{{id}}"><p><b>{{name}}</b></p></a>
</div>
{{/each}}

  </div>
</div>

  <form class="submit-form" action="/trade/submit" method="post">
  <div class="form-group">
    <label for="inventoryselector">Select a card to post to the market</label>
      <select class="form-control" name="inventorySelector">
        <option value="">Select a card form your inventory</option>
        {{#each submittingUser.ownCards}}
        <option value="{{uniqueId}}">{{name}}</option>
        {{/each}}
      </select>
      </div>
      <button class="btn btn-outline-info" type="submit" name="button">Submit Card</button>
  </form>


  <p><a href="/">Home</a></p>
{{/if}}
