<h2>Market Page</h2>
<p><a href="/">Home</a></p>
<p><a href="/user/profile">Profile</a></p>

{{#if currentMarket}}
{{#each currentMarket.postedCards}}
  <a href="/cards/{{id}}"><img class="inventory" src="{{image}}" alt="{{name}} image"></a>
  <p><b>{{uniqueId}}</b></p>
  <p>{{onMarket}}</p>
  <p>Posted by {{owner}}</p>
{{/each}}


<p><b>Remove a Card from the Market</b></p>

<form class="market-form" action="/trade/market" method="post">
<select class="market-card" name="marketSelector">

  <option value=""></option>
  {{#each currentMarket.postedCards}}
  <option value="{{uniqueId}}">{{uniqueId}}</option>
  {{/each}}
</select>
<button type="submit" name="button">Remove Card</button>
</form>

{{/if}}
