<h2>Market Page</h2>

{{#if currentCardsOnMarket}}<!-- Checks if market exists, then displays the code below -->
<div class="container" style="width: 70%;">
  <div class="row text-center">
{{#each currentCardsOnMarket}}<!-- displays each card on the market -->
  <div class="col-md-3">
    <a href="/cards/{{id}}"><img class="inventory" src="{{image}}" alt="{{name}} image"></a>
    <p><b>{{name}}</b></p>
    <p>Posted by {{owner}}</p>
  </div>
  {{/each}}
  </div>
</div>

  {{#if currentUser}}<!-- If a user is present, display the markup below -->
  <p><b>Remove a Card from the Market</b></p>

  <form class="market-form" action="/trade/market" method="post">
  <select class="market-card" name="marketSelector">

    <option value=""></option>
    {{#each currentUser.ownCards}}<!-- displays the value for each card on the market -->
      {{#if onMarket}}<!-- if this card exists on the market, display it -->
      <option value="{{uniqueId}}">{{name}}</option>
      {{/if}}
      {{/each}}
  </select>
  <button type="submit" name="button">Remove Card</button>
  </form>
  {{/if}}
{{/if}}
<!--
{{#if currentMarket}}
<div class="container" style="width: 70%;">
  <div class="row text-center">

{{#each currentMarket.postedCards}}
<div class="col-md-3">
  <a href="/cards/{{id}}"><img class="inventory" src="{{image}}" alt="{{name}} image"></a>
  <p><b>{{name}}</b></p>
  <p>Posted by {{owner}}</p>
</div>
{{/each}}

</div>
</div>

<p><b>Remove a Card from the Market</b></p>

<form class="market-form" action="/trade/market" method="post">
<select class="market-card" name="marketSelector">

  <option value=""></option>
  {{#each currentMarket.postedCards}}
  <option value="{{uniqueId}}">{{name}}</option>
  {{/each}}
</select>
<button type="submit" name="button">Remove Card</button>
</form>

{{/if}}

-->
