<p><a href="/">Home</a></p>
<p><a href="/trade/market">Market</a></p>

{{#unless currentUser}}
<h3>Sign in to view profile!</h3>
{{/unless}}

{{#if currentUser}}
<h2>{{currentUser.username}} Profile</h2>
<p><b>You are now logged in as {{currentUser.username}}</b></p>

<p><b><a href="/trade/submit">Post a card to the market!</a></b></p>

<h3>Cards in Inventory</h3>
{{#each currentUser.ownCards}}
<div class="float">
  <a href="/cards/{{id}}"><img class="inventory" src="{{image}}"></a>
  <a href="/cards/{{id}}"><p><b>{{name}}</b></p></a>
  <p>{{onMarket}}</p>
  </div>
{{/each}}

<h3>Cards on Market</h3>
{{#each currentUser.ownCards}}

{{#if onMarket}}
  <a href="/cards/{{id}}"><img class="inventory" src="{{image}}"></a>
  <a href="/cards/{{id}}"><p><b>{{name}}</b></p></a>
{{/if}}

{{/each}}


<p><b>Remove a card from inventory</b></p>

<form class="" action="/user/profile" method="post">
<select class="card-removal" name="removedCard">
  <option value=""></option>
  {{#each currentUser.ownCards}}
  <option value="{{uniqueId}}">{{name}}</option>
  {{/each}}
</select>
<button type="submit" name="button">Remove Card</button>
</form>
{{/if}}
