<h2>User Profile View</h2>
<hr class="second-header">

{{#unless currentUser}}
<p class="auth-notify"><a href="/user/signin">Sign in</a> to view profile!</p>
{{/unless}}

{{#if currentUser}}
<h2>{{currentUser.username}}'s Profile</h2>
<p><b>You are currently signed in as {{currentUser.username}}</b></p>

<h3>Cards in Inventory</h3>
  <div class="row text-center">
{{#each currentUser.ownCards}}
  <div class="col-md-3 col-sm-6">
  <a href="/cards/{{id}}"><img class="inventory" src="{{image}}"></a>
  <a href="/cards/{{id}}"><p class="card-name"><b>{{name}}</b></p></a>
  {{!-- {{#if onMarket}} --}}
  <p><small>Market: {{onMarket}}</small></p>
  {{!-- {{/if}} --}}
  </div>
{{/each}}

</div>

<div class="profile-option-container">
  <p class="profile-option"><a href="/cards/search">Add a new card to your inventory!</a></p>
  <p class="profile-option"><a href="/trade/submit">Post a card to the market!</a></p>
</div>


<form class="card-removal-form" action="/user/profile" method="post">
  <div class="form-group">
    <label for="removedCard">Remove a card from your inventory</label>
    <select class="form-control" name="removedCard">
      <option value="">Select a card to remove</option>
      {{#each currentUser.ownCards}}
      <option value="{{uniqueId}}">{{uniqueId}}</option>
      {{/each}}
    </select>
    <button class="btn btn-outline-warning" type="submit" name="button">Remove Card</button>
  </div>
</form>
{{/if}}
