{{#unless currentUser}}
<h3>Sign in to view profile!</h3>
{{/unless}}

{{#if currentUser}}
<h2>{{currentUser.username}} Profile</h2>
<p><b>You are now logged in as {{currentUser.username}}</b></p>





<h3>Cards in Inventory</h3>
<div class="container" style="width: 70%;">
  <div class="row text-center">
{{#each currentUser.ownCards}}
  <div class="col-md-3">
  <a href="/cards/{{id}}"><img class="inventory" src="{{image}}"></a>
  <a href="/cards/{{id}}"><p class="card-name"><b>{{name}}</b></p></a>
  {{!-- {{#if onMarket}} --}}
  <p><small>Market: {{onMarket}}</small></p>
  {{!-- {{/if}} --}}
  </div>
{{/each}}

</div>
</div>
<br />
<p><b><a href="/cards/search">Add a new card to your inventory!</a></b></p>
<br />
<p><b><a href="/trade/submit">Post a card to the market!</a></b></p>
<br />
<p><b>Remove a card from inventory</b></p>

<form class="" action="/user/profile" method="post">
<select class="card-removal" name="removedCard">
  <option value="">Select a card</option>
  {{#each currentUser.ownCards}}
  <option value="{{uniqueId}}">{{uniqueId}}</option>
  {{/each}}
</select>
<button type="submit" name="button">Remove Card</button>
</form>
{{/if}}
