<h2>{{setTitle}}</h2>
<hr class="second-header">

<ul class="set-list">
{{#each cards}}
  <li><a href="/cards/{{multiverseid}}">{{name}}</a> <br/> {{type}} <br/> {{colors}} <br /> {{setName}}</li>

{{/each}}
</ul>

<p><a href="/">Return to Main Page</a></p>
