<h2>Card Name: {{name}}</h2>
<hr class="second-header">

<img src='{{image}}'>
<p><span class="field-title">Set:</span> {{set}}</p>
<p><span class="field-title">Type: </span>{{type}}</p>
<p><span class="field-title">Rarity: </span>{{rarity}}</p>
<p><span class="field-title">Card Text: </span></p>
<p>{{text}}</p>

{{#if chosenCard}}
<p class="notify"><b>Currently in Inventory</b></p>
{{/if}}

<form class="" action="/cards/{{name}}" method="post">
  <button type="submit" name="button">Add to Inventory</button>
</form>


<p><a href="/">Return to Main Page</a></p>
