
<h3>Card Name: {{name}}</h3>
<div class="card-container">
  <img class="single-card" src='{{image}}' alt="{{name}} image">
  <p><span class="field-title">Set:</span> {{set}}</p>
  <p><span class="field-title">Type: </span>{{type}}</p>
  <p><span class="field-title">Rarity: </span>{{rarity}}</p>
  <p><span class="field-title">Card Text</span></p>
  <p class="description-text">{{text}}</p>
  <p><span class="field-title">Identification Number: </span> {{id}}</p>
</div>

{{#if chosenCard}}
<p class="notify"><b>Card Added to Inventory</b></p>
{{/if}}

<form class="submit-form" action="/cards/{{id}}" method="post">
<p><a href="/user/signin">Sign in</a> to add cards to your inventory</p>
  <button class="btn btn-outline-success" type="submit" name="button">Add to Inventory</button>
</form>

<p><a href="/">Return to Main Page</a></p>
